@charset "utf-8";
/* CSS Document */
.html {
}

/* ////////////////////////////////////////////////// */
/* /////////////////// LIFESTYLE //////////////////// */
/* ////////////////////////////////////////////////// */


.lifestyle1 {
	background-image: url("/img/2560/lifestyle/1Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 40%;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.lifestyle2 {
	background-image: url("/img/2560/lifestyle/2Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.lifestyle3 {
	background-image: url("/img/2560/lifestyle/3Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 10%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.lifestyle4 {
	background-image: url("/img/2560/lifestyle/4Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.lifestyle5 {
	background-image: url("/img/2560/lifestyle/5Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 45%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.lifestyle6 {
	background-image: url("/img/2560/lifestyle/6Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.lifestyle7 {
	background-image: url("/img/2560/lifestyle/7Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.lifestyle8 {
	background-image: url("/img/2560/lifestyle/8Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.lifestyle9 {
	background-image: url("/img/2560/lifestyle/9Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.lifestyle10 {
	background-image: url("/img/2560/lifestyle/10Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.lifestyle11 {
	background-image: url("/img/2560/lifestyle/11Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.lifestyle12 {
	background-image: url("/img/2560/lifestyle/12Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.lifestyle13 {
	background-image: url("/img/2560/lifestyle/13Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}


/* ////////////////////////////////////////////////// */
/* ///////////////////   TRAVEL  //////////////////// */
/* ////////////////////////////////////////////////// */

.travel1 {
	background-image: url("/img/2560/travel/1Travel.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.travel2 {
	background-image: url("/img/2560/travel/2Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.travel3 {
	background-image: url("/img/2560/travel/3Travel.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.travel4 {
	background-image: url("/img/2560/travel/4Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.travel5 {
	background-image: url("/img/2560/travel/5Travel.jpg");
	background-repeat: no-repeat;
	background-position: center 10%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
 }

.travel6 {
	background-image: url("/img/2560/travel/6Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.travel7 {
	background-image: url("/img/2560/travel/7Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.travel8 {
	background-image: url("/img/2560/travel/8Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.travel9 {
	background-image: url("/img/2560/travel/9Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}


.travel10 {
	background-image: url("/img/2560/travel/10Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.travel11 {
	background-image: url("/img/2560/travel/11Travel.jpg");
	background-repeat: no-repeat;
	background-position: center 90%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.travel12 {
	background-image: url("/img/2560/travel/12Travel.jpg");
	background-repeat: no-repeat;
	background-position: bottom center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

/* ////////////////////////////////////////////////// */
/* /////////////////// PROJECTS  //////////////////// */
/* ////////////////////////////////////////////////// */


.projects1 {
	background-image: url("/img/2560/projects/Greenville_Project.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.projects2 {
	background-image: url("/img/2560/projects/Italy_Project.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}


/* ////////////////////////////////////////////////// */
/* ///////////////////  STREET   //////////////////// */
/* ////////////////////////////////////////////////// */

.street1 {
	background-image: url("/img/2560/street/1Street.jpg");
	background-repeat: no-repeat;
	background-position: center 40%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.street2 {
	background-image: url("/img/2560/street/2Street.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.street3 {
	background-image: url("/img/2560/street/3Street.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.street4 {
	background-image: url("/img/2560/street/4Street.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.street5 {
	background-image: url("/img/2560/street/5Street.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.street6 {
	background-image: url("/img/2560/street/6Street.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.street7 {
	background-image: url("/img/2560/street/7Street.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.street8 {
	background-image: url("/img/2560/street/8Street.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.street9 {
	background-image: url("/img/2560/street/9Street.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.street10 {
	background-image: url("/img/2560/street/10Street.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}

.street11 {
	background-image: url("/img/2560/street/11Street.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	top: 50%;
  	z-index: -1;
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	background-size: cover;
}



@media (max-width: 1920px) {
/* ////////////////////////////////////////////////// */
/* /////////////////// LIFESTYLE //////////////////// */
/* ////////////////////////////////////////////////// */


.lifestyle1 {
	background-image: url("/img/1920/lifestyle/1Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 40%;

}

.lifestyle2 {
	background-image: url("/img/1920/lifestyle/2Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;

}


.lifestyle3 {
	background-image: url("/img/1920/lifestyle/3Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 10%;

}

.lifestyle4 {
	background-image: url("/img/1920/lifestyle/4Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;

}

.lifestyle5 {
	background-image: url("/img/1920/lifestyle/5Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 45%;

}

.lifestyle6 {
	background-image: url("/img/1920/lifestyle/6Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.lifestyle7 {
	background-image: url("/img/1920/lifestyle/7Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.lifestyle8 {
	background-image: url("/img/1920/lifestyle/8Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;

}

.lifestyle9 {
	background-image: url("/img/1920/lifestyle/9Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;

}

.lifestyle10 {
	background-image: url("/img/1920/lifestyle/10Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.lifestyle11 {
	background-image: url("/img/1920/lifestyle/11Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.lifestyle12 {
	background-image: url("/img/1920/lifestyle/12Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;

}

.lifestyle13 {
	background-image: url("/img/1920/lifestyle/13Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;

}


/* ////////////////////////////////////////////////// */
/* ///////////////////   TRAVEL  //////////////////// */
/* ////////////////////////////////////////////////// */

.travel1 {
	background-image: url("/img/1920/travel/1Travel.jpg");
	background-position: center center;
}

.travel2 {
	background-image: url("/img/1920/travel/2Travel.jpg");
	background-position: center center;
}

.travel3 {
	background-image: url("/img/1920/travel/3Travel.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;

}

.travel4 {
	background-image: url("/img/1920/travel/4Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.travel5 {
	background-image: url("/img/1920/travel/5Travel.jpg");
	background-repeat: no-repeat;
	background-position: center 90%;

 }

.travel6 {
	background-image: url("/img/1920/travel/6Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.travel7 {
	background-image: url("/img/1920/travel/7Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.travel8 {
	background-image: url("/img/1920/travel/8Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.travel9 {
	background-image: url("/img/1920/travel/9Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}


.travel10 {
	background-image: url("/img/1920/travel/10Travel.jpg");
	background-position: center center;
}

.travel11 {
	background-image: url("/img/1920/travel/11Travel.jpg");
	background-position: center 90%;
}

.travel12 {
	background-image: url("/img/1920/travel/12Travel.jpg");
	background-position: bottom center;
}

/* ////////////////////////////////////////////////// */
/* /////////////////// PROJECTS  //////////////////// */
/* ////////////////////////////////////////////////// */


.projects1 {
	background-image: url("/img/1920/projects/Greenville_Project.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.projects2 {
	background-image: url("/img/1920/projects/Italy_Project.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}


/* ////////////////////////////////////////////////// */
/* ///////////////////  STREET   //////////////////// */
/* ////////////////////////////////////////////////// */

.street1 {
	background-image: url("/img/1920/street/1Street.jpg");
	background-repeat: no-repeat;
	background-position: center 40%;

}

.street2 {
	background-image: url("/img/1920/street/2Street.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.street3 {
	background-image: url("/img/1920/street/3Street.jpg");
	background-repeat: no-repeat;
	background-position: center 50%;

}

.street4 {
	background-image: url("/img/1920/street/4Street.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;

}

.street5 {
	background-image: url("/img/1920/street/5Street.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;

}

.street6 {
	background-image: url("/img/1920/street/6Street.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.street7 {
	background-image: url("/img/1920/street/7Street.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.street8 {
	background-image: url("/img/1920/street/8Street.jpg");
	background-repeat: no-repeat;
	background-position: center 45%;

}

.street9 {
	background-image: url("/img/1920/street/9Street.jpg");
	background-repeat: no-repeat;
	background-position: center top;

}

.street10 {
	background-image: url("/img/1920/street/10Street.jpg");
	background-repeat: no-repeat;
	background-position: center top;

}

.street11 {
	background-image: url("/img/1920/street/11Street.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}
}

@media (max-width: 901px) {
/* ////////////////////////////////////////////////// */
/* /////////////////// LIFESTYLE //////////////////// */
/* ////////////////////////////////////////////////// */


.lifestyle1 {
	background-image: url("/img/900/lifestyle/1Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 40%;

}

.lifestyle2 {
	background-image: url("/img/900/lifestyle/2Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;

}


.lifestyle3 {
	background-image: url("/img/900/lifestyle/3Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 10%;

}

.lifestyle4 {
	background-image: url("/img/900/lifestyle/4Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;

}

.lifestyle5 {
	background-image: url("/img/900/lifestyle/5Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 45%;

}

.lifestyle6 {
	background-image: url("/img/900/lifestyle/6Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.lifestyle7 {
	background-image: url("/img/900/lifestyle/7Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.lifestyle8 {
	background-image: url("/img/900/lifestyle/8Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;

}

.lifestyle9 {
	background-image: url("/img/900/lifestyle/9Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;

}

.lifestyle10 {
	background-image: url("/img/900/lifestyle/10Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.lifestyle11 {
	background-image: url("/img/900/lifestyle/11Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.lifestyle12 {
	background-image: url("/img/900/lifestyle/12Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;

}

.lifestyle13 {
	background-image: url("/img/900/lifestyle/13Lifestyle.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;

}


/* ////////////////////////////////////////////////// */
/* ///////////////////   TRAVEL  //////////////////// */
/* ////////////////////////////////////////////////// */

.travel1 {
	background-image: url("/img/900/travel/1Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.travel2 {
	background-image: url("/img/900/travel/2Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.travel3 {
	background-image: url("/img/900/travel/3Travel.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;

}

.travel4 {
	background-image: url("/img/900/travel/4Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.travel5 {
	background-image: url("/img/900/travel/5Travel.jpg");
	background-repeat: no-repeat;
	background-position: center 90%;

 }

.travel6 {
	background-image: url("/img/900/travel/6Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.travel7 {
	background-image: url("/img/900/travel/7Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.travel8 {
	background-image: url("/img/900/travel/8Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.travel9 {
	background-image: url("/img/900/travel/9Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}


.travel10 {
	background-image: url("/img/900/travel/10Travel.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.travel11 {
	background-image: url("/img/900/travel/11Travel.jpg");
	background-repeat: no-repeat;
	background-position: center 90%;

}

.travel12 {
	background-image: url("/img/900/travel/12Travel.jpg");
	background-repeat: no-repeat;
	background-position: bottom center;

}

/* ////////////////////////////////////////////////// */
/* /////////////////// PROJECTS  //////////////////// */
/* ////////////////////////////////////////////////// */


.projects1 {
	background-image: url("/img/900/projects/Greenville_Project.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.projects2 {
	background-image: url("/img/900/projects/Italy_Project.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}


/* ////////////////////////////////////////////////// */
/* ///////////////////  STREET   //////////////////// */
/* ////////////////////////////////////////////////// */

.street1 {
	background-image: url("/img/900/street/1Street.jpg");
	background-repeat: no-repeat;
	background-position: center 40%;

}

.street2 {
	background-image: url("/img/900/street/2Street.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.street3 {
	background-image: url("/img/900/street/3Street.jpg");
	background-repeat: no-repeat;
	background-position: center 50%;

}

.street4 {
	background-image: url("/img/900/street/4Street.jpg");
	background-repeat: no-repeat;
	background-position: center 30%;

}

.street5 {
	background-image: url("/img/900/street/5Street.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;

}

.street6 {
	background-image: url("/img/900/street/6Street.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.street7 {
	background-image: url("/img/900/street/7Street.jpg");
	background-repeat: no-repeat;
	background-position: center center;

}

.street8 {
	background-image: url("/img/900/street/8Street.jpg");
	background-repeat: no-repeat;
	background-position: center 45%;

}

.street9 {
	background-image: url("/img/900/street/9Street.jpg");
	background-repeat: no-repeat;
	background-position: center top;

}

.street10 {
	background-image: url("/img/900/street/10Street.jpg");
	background-repeat: no-repeat;
	background-position: center top;

}

.street11 {
	background-image: url("/img/900/street/11Street.jpg");
	background-repeat: no-repeat;
	background-position: center top;

}
}

/* BACKGROUND STUFF */

.background_cover {
	background-size: cover;
}

.background_hide {
	opacity: 0.4;
}

@media (max-width: 736px) and (max-height: 414px) {
.street1 {
    background-position: center top;
}
.street2 {
    background-position: center top;
}
.street10 {
    background-position: center center;
}
.street11 {
    background-position: center bottom;
}
.travel11 {
    background-position: center bottom;
}
.travel6 {
    background-position: center bottom;
}
.travel2 {
    background-position: center bottom;
}
.travel1 {
    background-position: center bottom;
}
.travel8 {
    background-position: center bottom;
}
.travel9 {
    background-position: center bottom;
}
}