@charset "utf-8";
/* CSS Document */
.html {
}

.cover_gradiant_diagonal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: -moz-linear-gradient(45deg,rgba(28,28,28,0) 75%, rgba(28,28,28,.15) 90%, rgba(28,28,28,0.35) 100%);
    background: -webkit-gradient(linear,right top,right bottom,color-stop(75%,rgba(66,66,66,0)),color-stop(90%,rgba(28,28,28,.15)),color-stop(100%,rgba(28,28,28,0.35)));
    background: -webkit-linear-gradient(45deg,rgba(28,28,28,0) 75%,rgba(28,28,28,.15) 90%,rgba(28,28,28,0.35) 100%);
    background: -o-linear-gradient(45deg,rgba(28,28,28,0) 75%, rgba(28,28,28,.15) 90%, rgba(28,28,28,0.35) 100%);
    background: -ms-linear-gradient(45deg,rgba(28,28,28,0) 75%, rgba(28,28,28,.15) 90%, rgba(28,28,28,0.35) 100%);
    background: linear-gradient(4deg,rgba(28,28,28,0) 75%, rgba(28,28,28,.15) 90%, rgba(28,28,28,0.35) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c1c1c', endColorstr='#ba1c1c1c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.portraitwarning {
  display: none;
}

.landscapewarning {
  display: none;
}

@media (max-device-width: 1024px) and (max-device-height: 768px) {
.adjust_imagemode {
  display: none;
}
}

@media only screen and (max-device-width : 1024px) and (orientation: landscape) {

.portraitwarning {
  top: 72px;
  left: 0px;
  font-family: 'Playfair Display',serif;
  font-weight: 400;
  font-style: italic;
  padding: 3px 7px 3px 28px;
  letter-spacing: .05rem;
  color: #FFFF00;
  font-size: 1rem;
  text-decoration: none;
  position: absolute;
  width: auto;
  height: auto;
  border: 1px solid #432E36;
  background-color: #432E36;
  z-index: 600;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
  display: block;
  box-shadow: 1px 3px 2px rgba(28,28,28,.15);
}
}


@media (orientation: portrait) {

.landscapewarning {
  top: 72px;
  left: 0px;
  font-family: 'Playfair Display',serif;
  font-weight: 400;
  font-style: italic;
  padding: 3px 7px 3px 28px;
  letter-spacing: .05rem;
  color: #FFFF00;
  font-size: 1rem;
  text-decoration: none;
  position: absolute;
  width: auto;
  height: auto;
  border: 1px solid #432E36;
  background-color: #432E36;
  z-index: 600;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
  display: block;
  box-shadow: 1px 3px 2px rgba(28,28,28,.15);
}
}

a.slide_menuicon_wrapper {
    font-family: 'Playfair Display',serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .15rem;
    color: #d2d2d2;
    background-color: rgba(10,10,10,.05);
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding-left: 7px;
    position: absolute;
    width: 100px;
    height: 28px;
    border: 1px solid #FFFF00;
    border-right: 7px solid #FFFF00;
    z-index: 600;
    bottom: 28px;
    right: 14px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    box-shadow: 0px 0px 5px 3px rgba(28,28,28,.1);
    background-color: rgba(28,28,28,.1);
}

a.slide_menuicon_wrapper:hover {
    color: #002A32;
    background-color: #FFFF00;
    border-color: #FFFF00;
    padding-left: 14px;
    font-weight: 900;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.slide_menuicon_wrapper:active {
    color: #FF0;
    background-color: transparent;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.drop_down_menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(10,10,10,.7);
    width: 100%;
    height: 0;
    opacity: .25;
    z-index: 500;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.select {

}

.isVisible {
  
}

.adjust_imagemode {
    font-family: 'Playfair Display',serif;
    font-weight: 900;
    font-style: italic;
    letter-spacing: .15rem;
    color: #d2d2d2;
    background-color: rgba(10,10,10,.05);
    font-size: 2rem;
    line-height: 1.15rem;
    letter-spacing: 1px;
    /*padding-left: 7px;*/
    position: absolute;
    width: 28px;
    height: 28px;
    border: 1px solid #FFFF00;
    /*border-left: 7px solid #FFFF00;*/
    z-index: 600;
    bottom: 28px;
    right: 123px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 0px 5px 3px rgba(28,28,28,.1);
    background-color: rgba(28,28,28,.1);
}

.adjust_imagemode_inner {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 14px;
    height: 14px;
    border-top: 3px solid #d2d2d2;
    z-index: 600;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.adjust_imagemode:hover {
    color: #002A32;
    background-color: #FFFF00;
    border-color: #FFFF00;
    /*padding-left: 14px;*/
    font-weight: 900;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.adjust_imagemode:hover > .adjust_imagemode_inner {
  border-color: #002A32;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.adjust_imagemode_inner:hover {
  border-color: #002A32;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.adjust_imagemode:hover + img {
  width: 70vmin;
  height: 100vmin;
  border: 0px solid transparent;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/*.adjust_imagemode:hover + img {
  width: 70vmin;
  height: 100vmin;
  border: 0px solid transparent;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}*/

div[id="gradiant"] {
  opacity: 1;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}


.adjust_imagemode:hover ~ [id="gradiant"] {
  opacity: .1;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media (orientation: portrait) {
.adjust_imagemode {
  display: none;
}
}

.visibility_true {
  height: 100%;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 1;
}

.no_border {
  border: 0px solid transparent;
}

a.no_border {
  border: 0px solid transparent;
}

.social_buttons_connect_small {
    display: block;
    font-family: 'Playfair Display',serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1rem;
    color: #d2d2d2;
    font-size: 1rem;
    line-height: 1rem;
    text-decoration: none;
    height: auto;
    width: 300px;
    padding: 0px 7px;
    margin-top: 7px;
    line-height: 200%;
    -webkit-transition: all .4s ease-in-out;
/** Chrome & Safari **/
    -moz-transition: all .4s ease-in-out;
/** Firefox **/
    -o-transition: all .4s ease-in-out;
/** Opera **/
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.FFFF00_fontcolor_small {
  color: #FF0;
  font-size: 1rem;
  line-height: .5rem;
  font-weight: 400;
}

.FFFF00_fontcolor {
  color: #FF0;
}

/*.social_buttons_connect {
    display: block;
    font-family: 'Playfair Display',serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .1rem;
    color: #d2d2d2;
    font-size: 2rem;
    line-height: 3rem;
    text-decoration: none;
    height: auto;
    width: 260px;
    padding: 3px 7px 7px 14px;
    margin: 14px 14px 0 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

a.social_buttons_connect {
    display: block;
    font-family: 'Playfair Display',serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .1rem;
    color: #d2d2d2;
    font-size: 2rem;
    line-height: 3rem;
    text-decoration: none;
    height: auto;
    width: 260px;
    padding: 3px 7px 7px 14px;
    margin: 14px 14px 0 0;
    border: 2px solid #FFFF00;
    border-right: 21px solid #FFFF00;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

a.social_buttons_connect:hover {
    background-color: #FFFF00;
    color: #002A32;
    padding-left: 28px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

a.social_buttons_connect:active {
    background-color: transparent;
    color: #FF0;
    padding-left: 28px;
    background-color: transparent;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.social_buttons_connect_info {
    display: block;
    font-family: 'Playfair Display',serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .1rem;
    color: #d2d2d2;
    font-size: .75rem;
    text-decoration: none;
    height: 28px;
    width: 150px;
    padding: 5px 7px 0 7px;
    margin: 14px 14px 0 0;
}

.social_buttons_connect_info_container {
    position: absolute;
    right: -64px;
    top: 200px;
    z-index: 100;
}*/

.social_buttons {
    display: block;
    font-family: 'Playfair Display',serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .1rem;
    color: #d2d2d2;
    border: 3px solid #d2d2d2;
    font-size: 2rem;
    text-decoration: none;
    height: auto;
    width: auto;
    min-width: 200px;
    padding: 14px 14px 14px 14px;
    margin: 14px 0 14px 0;
    -webkit-transition: all .4s ease-in-out;
/** Chrome & Safari **/
    -moz-transition: all .4s ease-in-out;
/** Firefox **/
    -o-transition: all .4s ease-in-out;
/** Opera **/
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

a.social_buttons {
    display: block;
    font-family: 'Playfair Display',serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .15rem;
    color: #d2d2d2;
    border: 2px solid #FFFF00;
    border-right: 21px solid #FFFF00;
    font-size: 5vmin;
    text-decoration: none;
    height: auto;
    width: auto;
    min-width: 200px;
    text-align: left;
    padding: 14px 14px 14px 31px;
    margin: 14px 0 14px 0;
    -webkit-transition: all .4s ease-in-out;
/** Chrome & Safari **/
    -moz-transition: all .4s ease-in-out;
/** Firefox **/
    -o-transition: all .4s ease-in-out;
/** Opera **/
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

a.social_buttons:hover {
    font-style: italic;
    border-color: #FF0;
    background-color: #FF0;
    color: #002A32;
    padding-left: 56px;
    -webkit-transition: all .4s ease-in-out;
/** Chrome & Safari **/
    -moz-transition: all .4s ease-in-out;
/** Firefox **/
    -o-transition: all .4s ease-in-out;
/** Opera **/
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

a.social_buttons:active {
    border-color: #FF0;
    background-color: transparent;
    color: #FF0;
    padding-left: 56px;
    -webkit-transition: all .4s ease-in-out;
/** Chrome & Safari **/
    -moz-transition: all .4s ease-in-out;
/** Firefox **/
    -o-transition: all .4s ease-in-out;
/** Opera **/
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.collapse_social_menu {
    display: block;
    overflow: hidden;
    position: relative;
    height: inherit;
    width: 30%;
    min-width: 200px;
    margin: 20vh auto 0 auto;
}

.social_actions {
    position: relative;
    width: 100%;
    margin: 0 auto 0 auto;
    height: inherit;
    text-align: right;
    z-index: 510;
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out
    transition: all .4s ease-in-out;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}

img.adjust {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

img {
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}


::-webkit-scrollbar
 {
    width: 7px;
}

::-moz-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-button {
    width: 7px;
    height:5px;
}

::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}

::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}      

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
html, body {
  height: 100%;
}

.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(2, 23, 37, 0.95);
  height: 50px;
  width: 100%;
  z-index: 3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 80px;
    background: transparent;
    box-shadow: none;
  }
}

/*@media (max-width: 1170px) {
a.social_buttons_connect {
    width: 200px;
}
.social_buttons_connect {
    float: left;
    display: inline;
    width: 200px;
}
}*/

@media only screen and (min-width: 1170px) {
.cd-header {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-header.is-fixed {
  /* when the user scrolls down, we hide the header right above the viewport */
  position: fixed;
  top: -80px;
  background-color: rgba(2, 23, 37, 0.96);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-header.is-visible {
  /* if the user changes the scrolling direction, we show the header */
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.cd-header.menu-is-open {
  /* add a background color to the header when the navigation is open */
  background-color: rgba(2, 23, 37, 0.96);
}
}

.cd-logo {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: .875em;
}
.cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-logo {
    left: 2.6em;
  }
}

.cd-secondary-nav {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10em;
  /* hidden on small devices */
  display: none;
}
.cd-secondary-nav li {
  display: inline-block;
  margin-left: 2.2em;
}
.cd-secondary-nav a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .cd-secondary-nav {
    display: block;
  }
}

.cd-primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #03263d;
}
.cd-primary-nav-trigger .cd-menu-text {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  /* hide the text on small devices */
  display: none;
}
.cd-primary-nav-trigger .cd-menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: white;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}
.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
  top: -5px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
  top: 5px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  background-color: white;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-primary-nav-trigger .cd-menu-text {
    display: inline-block;
  }
  .cd-primary-nav-trigger .cd-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

.cd-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(2, 23, 37, 0.96);
  z-index: 2;
  text-align: center;
  padding: 50px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.cd-primary-nav li {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
  text-transform: capitalize;
}
.cd-primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.no-touch .cd-primary-nav a:hover {
  background-color: #e36767;
}
.cd-primary-nav .cd-label {
  color: #06446e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em;
}
.cd-primary-nav .cd-social {
  display: inline-block;
  margin: 0 .4em;
}
.cd-primary-nav .cd-social a {
  width: 44px;
  height: 44px;
  padding: 0;
  background-image: url("../img/cd-socials.svg");
  background-repeat: no-repeat;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-primary-nav .cd-facebook a {
  background-position: 0 0;
}
.cd-primary-nav .cd-instagram a {
  background-position: -44px 0;
}
.cd-primary-nav .cd-dribbble a {
  background-position: -88px 0;
}
.cd-primary-nav .cd-twitter a {
  background-position: -132px 0;
}
.cd-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-primary-nav li {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cd-primary-nav .cd-label {
    font-size: 16px;
    font-size: 1rem;
  }
}

.cd-intro {
  position: relative;
  height: 100%;
  background: url("../img/cd-background-img.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-intro h1 {
  position: absolute;
  width: 90%;
  max-width: 1170px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-intro h1 {
    font-size: 30px;
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-intro {
    height: 700px;
}

.cd-main-content {
  position: relative;
  z-index: 1;
}
.cd-main-content p {
  line-height: 1.6;
  margin: 2em 0;
}
}

@media only screen and (min-width: 1170px) {
  .cd-main-content p {
    font-size: 20px;
    font-size: 1.25rem;
}
}

@media (max-width: 1021px) {
a.social_buttons {
  padding-left: 28px;
  font-size: 3rem;
}
.collapse_social_menu {
  min-width: 300px;
}
/*.social_buttons_connect {
    font-size: .85rem;
    width: 200px;
}*/
}
}

@media (max-width: 758px) {
a.slide_menuicon_wrapper {
  bottom: 64px;
  right: 62px;
}
}

/*@media (max-width: 751px) and (max-height: 581px) {
a.social_buttons_connect {
    font-size: 1rem;
    line-height: 1.75rem;
    width: 150px;
    padding: 7px 7px 7px 14px;
    margin: 14px 14px 0 0;
    border-width: 2px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.social_buttons_connect {
    font-size: .75rem;
    width: 150px;
}
}*/

/*@media (max-width: 748px) and (max-height: 485px) {
a.social_buttons_connect {
    margin-left: 28px;
    float: left;
}
.social_buttons_connect {
    margin-left: 28px;
    float: left;
}
}*/

@media (max-width: 826px) {
a.slide_menuicon_wrapper {
    bottom: 62px;
    right: 62px;
}
.adjust_imagemode {
  bottom: 62px;
  right: 177px;
}
}

@media (max-width: 736px) {
a.slide_menuicon_wrapper {
    bottom: 47px;
}
.adjust_imagemode {
  bottom: 47px;
}
}

@media (max-width: 736px) and (max-height: 414px) {
/*a.social_buttons_connect {
  line-height: 125%;
  font-size: .75rem;
  margin: 7px 14px 0 28px;
}
.social_buttons_connect {
  line-height: 125%;
  font-size: .75rem;
  margin: 7px 14px 0 28px;
}*/
a.social_buttons{
  border-width: 2px;
}
a.social_buttons:active{
  border-width: 2px;
}
.portraitwarning {
    top: 42px;
}
.landscapewarning {
    top: 42px;
}
}

@media (max-width: 667px) and (max-height: 375px) {
/*a.social_buttons_connect {
    font-size: .75rem;
    line-height: 1.25rem;
    width: 100px;
    padding: 3px 7px 3px 7px;
    margin: 7px 7px 0 14px;
}
.social_buttons_connect {
    font-size: .75rem;
    line-height: 1.25rem;
    width: 100px;
    padding: 3px 7px 3px 7px;
    margin: 7px 7px 0 14px;
}*/
.landscapewarning {
    bottom: 42px;
    font-size: .75rem;
    padding: 3px 5px;
    left: 14px;
}
}

/*@media (max-width: 598px) and (max-height: 335px) {
a.social_buttons_connect {
    padding: 3px 7px 3px 7px;
}
.social_buttons_connect {
    padding: 0px 7px 3px 7px;
}
}*/

@media (max-width: 576px) {
.portraitwarning {
    top: 37px;
}
.landscapewarning {
    top: 37px;
}

@media (max-width: 571px) {
a.slide_menuicon_wrapper{
  bottom: 49px;
}
}

/*@media (max-width: 568px) and (max-height: 320px) {
a.slide_menuicon_wrapper {
    bottom: 42px;
}
}*/

/*@media (max-width: 545px) {
a.social_buttons_connect {
    font-size: 1.25rem;
    line-height: 2.25rem;
    width: 175px;
    margin: 7px 0px 0 0;
}
.social_buttons_connect {
    font-size: 1.25rem;
    line-height: 2.25rem;
    width: 175px;
    margin: 7px 0px 0 0;
}
}*/

/*@media (max-width: 485px) and (max-height: 748px) {
a.social_buttons_connect {
    margin-left: 14px;
}
.social_buttons_connect {
    margin-left: 14px
}
}*/

@media (max-width: 437px) {
.social_actions {
    width: 75%;
}
a.social_buttons {
    font-size: 2rem;
}
}


@media (max-width: 414px) {
a.slide_menuicon_wrapper {
    bottom: 42px;
}
}

@media (max-width: 371px) {
/*a.social_buttons_connect {
  font-size: 1rem;
  width: 125px;
}
.social_buttons_connect {
  font-size: 1rem;
  width: 125px;
}*/
a.slide_menuicon_wrapper {
  font-size: .75rem;
  line-height: 1.25rem;
  padding: 3px 7px 3px 7px;
  width: 75px;
}
.landscapewarning {
  font-size: .75rem;
  line-height: 1rem;
    padding: 3px 7px 3px 7px;
}
}

@media (max-width: 320px) and (max-height: 568px) {
/*a.social_buttons_connect {
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 1px 3px 1px 14px;
    margin: 7px 14px 0 7px;
    width: 110px;
}
.social_buttons_connect {
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 1px 3px 1px 14px;
    margin: 7px 14px 0 7px;
}*/
}

/*@media (max-width: 960px) {
.adjust_imagemode {
    display: none;
}*/
a.slide_menuicon_wrapper:active {
    border-color: #FF0;
    background-color: #FF0;
    color: #002A32;
}
/*a.social_buttons_connect:hover {
    background-color: transparent;
    color: #FF0;
    border-color: #d2d2d2;
}

a.social_buttons_connect:active {
    background-color: #FF0;
    color: #002A32;
    border-color: #FF0;
}*/
a.social_buttons:hover {
    border-color: #d2d2d2;
    background-color: transparent;
    color: #FF0;
    padding-left: 28px;
}

a.social_buttons:active {
    border-color: #FF0;
    background-color: #FF0;
    color: #002A32;
    padding-left: 28px;
}
}

/*@media (width: 384px) and (height: 567px) {

a.social_buttons_connect {
    font-size: 1rem;
    width: 125px;
    padding: 3px 7px 3px 14px;
    margin: 7px 14px 0 0;
}
.social_buttons_connect {
    font-size: 1rem;
    width: 125px;
    padding: 3px 7px 3px 14px;
    margin: 7px 14px 0 0;
}
}*/